<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Fundamentos de TypeScript </title>
    <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
</head>
<body>
    <h1>Archivos de Declaracion</h1>
    <div class="description">Presione F12 para ver la consola de desarrollador.</div>
    <script src="../dist/scripts/declaration-files.js"></script>
    <a href="../index.html">Index</a>
</body>
</html>